{% extends 'base.html.twig' %}

{% block title %}Modifier {{ team.name }}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Modifier {{ team.name }}</h1>
    </div>

    {{ include('team/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <div class="page-actions">
        <a href="{{ path('app_team_index') }}" class="btn btn-outline">← Retour</a>
        {{ include('team/_delete_form.html.twig') }}
    </div>
{% endblock %}
